/* MagicButton.module.css */
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(135deg, #fe5b14 0%, #fe5b14 100%);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(254, 91, 20, 0.2);
  width: 100%;
  margin-top: 20px;
  height: auto;
  z-index: 0;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(254, 91, 20, 0.3);
}

.button:active {
  transform: scale(0.98);
}

.button:disabled {
  background: linear-gradient(135deg, #f7f7f7 0%, #e3b8a6 100%);
  cursor: not-allowed;
  transform: none !important;
  box-shadow: none;
}

.button.clicked {
  transform: scale(0.98);
}

.buttonText {
  display: flex;
  z-index: 1;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  justify-content: center;
}

.star {
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('../../assets/icons/Element.svg') no-repeat center center;
  background-size: contain;
  pointer-events: none;
  animation: float 3s ease-in-out infinite;
  animation-delay: var(--star-delay);
  left: var(--star-left);
  top: var(--star-top);
  opacity: var(--star-opacity);
}

.starBurst {
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('../../assets/icons/Element.svg') no-repeat center center;
  background-size: contain;
  pointer-events: none;
  animation: burst 0.9s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  left: 50%;
  top: 50%;
}

.wave {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: waveAnimation 0.6s ease-out forwards;
  pointer-events: none;
  z-index: 0;
  background: rgba(255, 255, 255, 0.5);
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translate(3px, -3px) rotate(20deg);
    opacity: 0.6;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes burst {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--burst-x), var(--burst-y))
      rotate(var(--burst-rotate)) scale(1.2);
    opacity: 0;
  }
}

@keyframes waveAnimation {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}
